*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
h2{
    margin:20px 0;
}

li{
    cursor: pointer;
}
#section-last-releases, 
#section-most-popular,
#section-results{
    width: 90%;
}
#section-categories{
    width: 90%;
    display: none;
}
.card-footer{
    display: flex;
    justify-content: center;
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    
}
.card-body .card-text{
    width: 100%;
    height: 29%;
    overflow: hidden;
}
.card-img-top{
    cursor: pointer;
}
#section-platforms{
    display: flex;
    gap: 5px;
    width: auto;
}
.fav-button{
    display: flex;
}
.card-text2{
    font-weight: bold;
}
.modal-body {
    display: flex;
    flex-direction: column;
}
.modal-body img{
    margin-bottom: 10px;
    display: flex;
    justify-self: center;
}
.text-modal{
    text-align: justify;
}
#button-seeAll{

    margin: 10px 0;

}
.drop{
    max-height: 280px;
    overflow-y: auto;

}
#container-drop{
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}
.drop li{
    margin-left: 5px;
}